alabaster
arxivcheck
asn1crypto
babel
backcall
beautifulsoup4
bibcure
bibtexparser
biopython
blas
bleach
blosc
bokeh
bqplot
bzip2
ca-certificates
certifi
cffi
chardet
codecov
coreapi
coreschema
coverage
cryptography
cycler
dbus
decorator
docopt
docutils
doi2bib
entrypoints
ete3
expat
feedparser
fontconfig
freetype
future
glib
gmp
gst-plugins-base
gstreamer
h5py
hdf5
html5lib
icu
idna
imagesize
intel-openmp
ipdb
ipyaggrid
ipykernel
ipyparallel
ipysheet
ipython
ipython_genutils
ipywidgets
itypes
jedi
jinja2
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_highlight_selected_word
jupyter_latex_envs
jupyter_nbextensions_configurator
kiwisolver
libedit
libffi
libgcc-ng
libgfortran-ng
libpng
libsodium
libstdcxx-ng
libtiff
libuuid
libxcb
libxml2
libxslt
lxml
lzo
markupsafe
matplotlib
mistune
mkl
mkl_fft
mkl_random
nbconvert
nbformat
nbinteract
nbsphinx
ncurses
notebook
numexpr
numpy
numpy-base
olefile
openssl
packaging
pandas
pandoc
pandocfilters
parso
pcre
pexpect
pickleshare
pillow
pip
pivottablejs
prometheus_client
prompt_toolkit
pscript
ptyprocess
pubmed-lookup
pycparser
pygments
pyham
pyopenssl
pyparsing
pyqt
pysocks
pytables
python
python-dateutil
pytz
pyyaml
pyzmq
qgrid
qt
qtconsole
readline
requests
rise
scipy
selenium
send2trash
setuptools
setuptools_scm
simplejson
sip
six
snappy
snowballstemmer
soupsieve
sphinx
sphinxcontrib
sphinxcontrib-websupport
sqlite
terminado
testpath
title2bib
tk
toolz
tornado
traitlets
traittypes
unidecode
uritemplate
urllib3
wcwidth
webencodings
wheel
widgetsnbextension
xmltodict
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
yaml
zeromq
zlib
zstd
